.page {
  text-align: center;
  background-size: cover;
  color: $color-white;
  font-family: $sans;
  max-width: 80%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  @media (max-device-width: 550px), (max-width: 550px){
    margin-top: 200px;
    font-size: 40px;
  } 
}