.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: rgba(#f2f2f2, .5);
}

.student-modal {
  @include material-shadow;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 400px;
  width: 500px;
  
  &-close {
    color: red;
    text-transform: uppercase;
    cursor: pointer;
  }
}

