.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: rgba(#f2f2f2, .5);
}

.student-modal {
  background-color: white;
  height: 500px;
  width: 500px;
}