body{
	/*background-color: rgb(33,33,33);*/
	background-image: url('/images/pat2.png');
	background-repeat: repeat-x | repeat-y;

}

.containerBody{
	width: 100%;
	height: 100%;
	background-image: url('/images/backforest.jpg');
	background-repeat: no-repeat;
	background-size: 180%;
}

h1{
	font-size: 4em;
	font-family: 'Fjalla One', sans-serif;
	height: 1em;
	width: 100%;
	color: rgb(33,33,33);
	text-align: center;
}

h2{
	font-size: 2em;
	font-family: 'Bitter', serif;
	height: 1em;
	width: 100%;
	color: rgb(33,33,33);
	text-align: center; 
	margin: 1em;
}

h3{
	font-size: 1.1em;
	font-family: 'Bitter', serif;
	color: rgb(33,33,33);
	margin: 1em;
	text-align: center;
}

.contentContainer{
	text-align: justify;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	min-height: 450px;

	position: fixed;
	text-align: center;
	color: #B6B6B6;
	background-color: white;
	font-family: 'Fjalla One', sans-serif;
	border-radius: .5em;
	-webkit-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	-moz-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
}

.skeletonFooter{
	color: #E6DCDB;
	background-color: rgba(33,33,33,0.9);
	/*background-color: #CF000F;*/
	font-family: 'Roboto Condensed', sans-serif;
	width: 100%;
	height: 3em;
	position: fixed;
	bottom: 0px;
	padding: 1em;
	text-align: right;
	-webkit-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	-moz-box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);
	box-shadow: 4px 4px 42px 2px rgba(0,0,0,0.39);	
}

.iconView{
	width: 50%;
	float: left;
}


.guildIcon{
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5%;
	top:50%;
}

.tutorList{
	font-size: 1em;
	font-family: 'Bitter', serif;
	color: rgb(33,33,33);
	margin: 1em;
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
	list-style-type: none;
}


.listComponent a{
	text-decoration: none;
	color: rgb(33,33,33);
	opacity: 0.7;
	-webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}

.backKey{
	font-family: 'Bitter', serif;
	text-decoration: none;
	color: rgb(33,33,33);
	opacity: 0.7;
	font-size: 2em;
	-webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  position: fixed;
  right: 20px;
  bottom: -60px;
}

.commentField{
	color: rgb(33,33,33);
	width: 80%;
	border-radius: 2px;
}

.commentButton{
	margin: 3em;
	color: rgb(33,33,33);
	float: right;
	font-family: 'Fjalla One', sans-serif;
	border-radius: 2px;
	border:none;
	padding: 1em;
	background-color: #3498db;
	color: white;
}
.backKey:hover{
	text-align: right;
	text-decoration: none;
	opacity: 1;
}
.commentForm h2{
	text-align: left;
	margin-left: 1.5em;
}
.listComponent a:hover{
	text-decoration: none;
	opacity: 1;
}

.skeletonFooter p{
	font-family: 'Fjalla One', sans-serif;
}